/* @import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap'); */

* {
    margin: 0px;
    padding: 0px;
    /* font-family: 'Bebas Neue', sans-serif; */
    
}
body{
    background-color: black;
}

nav{
    margin-top: 24px;
    
}
.nav {
   
    display: flex;
    justify-content: space-between;
    
    position: relative;
    z-index: 10;
    /* gap: max(50px,30vw); */
    width: 80vw;
    /* gap:30vw; */
    margin:auto;
    /* padding-left: 150px;
    padding-right:150px; */


}
.button{
    display: flex;
    gap:10px;
}


.button> :first-child {
    height: 32px;
    width: 124px;
    font-weight: 400;
}

.button> :nth-child(2) {
    height: 32px;
    width: 76.9px;
}

.backgroundimage {
    height:110vh;
    width: 105vw;

    position: absolute;
    top: 0;
    opacity: .55;
    /* background: linear-gradient(to top, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0)); */

    /* background: linear-gradient(360deg, rgba(0, 0, 0, 0.8500) 8.000%, rgba(0, 0, 0, 0.8465) 15.67%, rgba(0, 0, 0, 0.8361) 23.33%, rgba(0, 0, 0, 0.8187) 31.00%, rgba(0, 0, 0, 0.7944) 38.67%, rgba(0, 0, 0, 0.7632) 46.33%, rgba(0, 0, 0, 0.7250) 54.00%, rgba(0, 0, 0, 0.6868) 61.67%, rgba(0, 0, 0, 0.6556) 69.33%, rgba(0, 0, 0, 0.6312) 77.00%, rgba(0, 0, 0, 0.6139) 84.67%, rgba(0, 0, 0, 0.6035) 92.33%, rgba(0, 0, 0, 0.6000) 100.0%); */
    /* background-image: url('https://assets.nflxext.com/ffe/siteui/vlv3/05e91faa-6f6d-4325-934e-5418dcc2567b/web/IN-en-20250630-TRIFECTA-perspective_159086b1-425f-435b-bcd5-1ed8039cdef9_large.jpg'); */
    background-image: url('asset/backgroundimage.jpg');
    background-size: fill;
    background-position: center;
}
.overlay {
  position: absolute;
  top: 0; left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 1) 0%,
    rgba(0, 0, 0, 0.44) 15%,
    rgba(0, 0, 0, 0.44) 85%,
    rgba(0, 0, 0, 1) 100%
  );
  z-index: 1;
}


.main{
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    align-items: center;
    width: 100vw;
    color: white;
    position: relative;
    z-index: 10;
    bottom:50px;
    
    
}
.main> :nth-child(1){
    font-size: 58px;
    font-weight: bolder;
}
.main> :nth-child(2){
    font-size: 58px;
    font-weight: bolder;
}
.main> :nth-child(3){
    font-size: 18px;   
    position: relative; 
    top:10px;
    font-weight: bolder;
    /* font-weight: 900; */

}
.smaller{
       position: relative; 
    top:10px;
}

.signin{
    font-weight: bolder;
    position:relative;
    background-color: rgb(231, 0, 0);
    border:7px solid  rgb(231, 0, 0);
    border-radius: 7%;
    color: white;  
    height:33px;
    width: 78px; 
    z-index: 10;
    top:5px;
}
.lang{
    opacity: .9;
    background-color: rgba(0, 0, 0, 0.455);
    color:white;
    height: 31px;
    width: 121px;
    border:1px ridge rgba(255, 255, 255, 0.586);
    border-radius:5px;
    font-weight:bolder;
    font-size:17px;
    position:relative;
    top:5px;
}   

input{
    height: 50px;
    width: 365px;
    border: 1px solid rgba(255, 255, 255, 0.334);
    border-radius: 6px;
    background-color:rgba(0, 0, 0, 0.69);
    font-size:16px;
    padding-left: 20px;

    
}
.submit{
    height:50px;
    width:173px;
    background-color: rgb(231, 0, 0);
    border-radius:5px;
    font-weight: bolder;
    color: white;
    /* padding: 10px; */

}
.emailandsubmit{
    position:relative;
    top:10px;

    
}
.input::placeholder {
  font-weight: 400;
  font-size: 16px;
  /* font-family: 'Bebas Neue', sans-serif; */
  color: rgba(255, 255, 255, 0.755);

}
.submit {
  font-size: 20px; /* increase or decrease as needed */
  position: relative;
  top:2px;
}


.background {
  position: relative;
  height: 100vh;
  background-image: url('your-image.jpg');
  background-size: cover;
  background-position: center;
}

.red-curve {
  background-color: rgba(128, 128, 128, 0.501); /* Netflix red */
  /* height: 400px;
  border-top-left-radius: 50% 20%;
  border-top-right-radius: 50% 20%; */
  height: 6px;
  position:relative;
  width: 100vw;

}
.content{
    display:flex;
    flex-direction:column;
    align-content: center;

}
.trending{
     padding: 0px 30px;  
     margin-left: 30px;
     margin-right: 30px;
    /* height:300px; */
    display:flex;
    flex-wrap: wrap;
    gap:30px 0px;
    align-items: center;
    justify-content: space-around;
    
    
    
}
.trending>*:hover{
    transform: scale(1.1);
}
.trending> *{
   
    height:276px;
    width:197px;
    position:relative;
    /* z-index:90; */
    

}
.img1{
    background-image: url("https://occ-0-2610-3646.1.nflxso.net/dnm/api/v6/mAcAr9TxZIVbINe88xb3Teg5_OA/AAAABaW57jWqw0Gs9gqgmW816THwyNfPqphIiruQRFy9KXtt9PTPJpB4kzDKriPcpNjPKCj0itu1Yfjl-CR8rGEokBHPKE4O9lZQHXHRRpUHEelwoKk8lOf4gqlws-HnR2iZeSk4.webp?r=609&quot");
    background-size:fill;
    background-position: center;
}
.img2{
    background-image: url("https://occ-0-2610-3646.1.nflxso.net/dnm/api/v6/mAcAr9TxZIVbINe88xb3Teg5_OA/AAAABcH5_XDKPeXszDIKUeRk9f8gbZf2IIH_vdf4CNwOb7kql21x-tuHFIQn1NVGFCzD79WrtEa2YEWqbSqJAs8AAOymvo6mcwfQlFM.webp?r=e74&quot");
}
.img3{
    background-image: url("https://occ-0-2610-3646.1.nflxso.net/dnm/api/v6/mAcAr9TxZIVbINe88xb3Teg5_OA/AAAABU73BvQjJgydQFEJ-vZZw9QtO8fL6lIxc71x9tOqxgDWh_BHokCWPIbGC5AxJjDk0D_sIH5KhmmYm9HLr3DKUXg8eo6nzF0rtSI.webp?r=d95&quot");
}
.img4{
    background-image: url("https://occ-0-2610-3646.1.nflxso.net/dnm/api/v6/mAcAr9TxZIVbINe88xb3Teg5_OA/AAAABSlqHrOJU6pt2MtA_pqOW4MzrKY4pEOkg3JC8fr73T43h0DTet1vd1dyN8VIRvvmO13UtztA35mPgP5P_0w1ZuodX47qbMLEaCJ3XZiYxAQwnYZFJPkwEBbU8QeztnQjRQKg.webp?r=e07&quot");
}
.img5{
    background-image: url("https://occ-0-2610-3646.1.nflxso.net/dnm/api/v6/mAcAr9TxZIVbINe88xb3Teg5_OA/AAAABYGL4_ns5MGTE5-Yd3ZQVB5apyY9yxQ39lxjT_27ehdoGzrxRwNc4osgXEeifcv9yO_MgMySL-p6hMxtQZnIEkZmyglIJ7wm7ik.webp?r=c23&quot");
}

.content h1{
    color: white;
    position:relative;
    margin: 25px;
    left:5%;
}
.morereasontojoin{
    display:flex;
    flex-wrap: wrap;
    align-content: center;
    /* justify-items: center; */
    justify-content: center;
    gap: 40px;
    margin:30px;

   
    /* background-color: red; */
}
.morereasontojoin> *{
    /* background-color: rgb(123, 43, 189); */
    /* display: flex;
    flex-direction: column;
    justify-items: center;
    justify-content: space-around; */
    
    background: linear-gradient(to top, rgba(10, 1, 23, 0.8), rgb(12, 2, 54)); 
     color:white;
    height: 277px;
    width: 294px;
    border-radius: 5px;
    font-size: bold;
}
.morereasontojoin h3{
    position: relative;
    top: 10px;
    left: 10px;
}
.morereasontojoin p{
    position:relative;
    top: 35px;


}
.frequentlyaskedquestions{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    gap: 10px;
    margin: 10px;
}
.frequentlyaskedquestions> *{
    background-color:rgb(55, 55, 55);
    height: 70px;
    width:80vw;
    color: white;
    text-align: start;
    padding-left: 10px;
    font-size:24px;
    

    
}
.frequentlyaskedquestions>* :hover{
    transform: scale(1.05);
}
.para>*{
    color: white;
}
footer{
    height: 30vh;
    display: flex;
    flex-direction: column;
    align-items: center;

}
footer .link{
    display:flex;
}

.links{
    height: 60vh;
    width: 60vw;
    padding: 30px;
    display: flex;
    flex-wrap: wrap;
    gap:30px 50px;
    position:relative;
    top:80px
    
} 
.links> *{
    color: rgba(193, 193, 193, 0.679);
}  
.helpline{
    color: white;
    position: relative;
    top:80px;
}
.emailandsubmit2{
    position:relative;
    top:40px;
}
.para2{
    color:aliceblue;
    position: relative;
    top:20px;
}
.morereasontojoin> *:hover{
    transform: scale(1.10);
}